.*
/Java/NetBeans/JavaApplication1/nbproject/private/
/Java/NetBeans/JavaApplication1/build/
/TDP/java/Rettangolo/nbproject/private/
/TDP/java/Rettangolo/build/
/Java/Prodotti/nbproject/private/
/Java/Prodotti/build/
/Java/Person/nbproject/private/
/Java/230121Person/nbproject/private/
/Java/230121Person/build/
/Java/Rettangolo/nbproject/private/
/Java/NetBeans/Vector_ordinamento/nbproject/private/
/Java/NetBeans/Vector_ordinamento/build/
/Java/NetBeans/Vector_ordinamento/dist/
/Java/ReturnTypes/nbproject/private/
/Java/NetBeans/ReturnTypes/nbproject/private/
/Java/NetBeans/ReturnTypes/build/
/Java/NetBeans/Es01_HelloWorld/nbproject/private/
/Java/NetBeans/Es01_HelloWorld/build/
/Java/NetBeans/Overloading/nbproject/private/
/Java/NetBeans/Overloading/build/
/Java/NetBeans/Triangolo/nbproject/private/
/Java/NetBeans/DataEntry/nbproject/private/
/Java/NetBeans/DataEntry/build/
/Java/NetBeans/Counter/nbproject/private/
/Java/NetBeans/Counter/build/
/Java/NetBeans/Es02_HelloWorld/nbproject/private/
/Java/NetBeans/Es02_HelloWorld/build/
/Java/NetBeans/Es03_Panel/nbproject/private/
/Java/NetBeans/Es03_Panel/build/
/Java/NetBeans/Primo/nbproject/private/
/Java/NetBeans/Secondo/nbproject/private/
/Java/NetBeans/Terzo/nbproject/private/
/Java/NetBeans/Terzo/dist/
/Java/NetBeans/Test/nbproject/private/
/Java/NetBeans/Test/build/
/Java/NetBeans/Es04_Finestra_con_elementi2/nbproject/private/
/Java/NetBeans/Es04_Finestra_con_elementi2/build/
/Java/NetBeans/Es05_Buttons/nbproject/private/
/Java/NetBeans/Es05_Buttons/build/
/Java/Abstract/nbproject/private/
/Java/Abstract/build/
/Java/NetBeans/Abstractlass/nbproject/private/
/Java/NetBeans/Abstractlass/build/
/Java/NetBeans/Es06_Buttons/nbproject/private/
/Java/NetBeans/Es06_Buttons/build/
/Java/NetBeans/Es06_Buttons_2/nbproject/private/
/Java/NetBeans/Es06_Buttons_2/build/
/Java/NetBeans/Es07_Convertitore/nbproject/private/
/Java/NetBeans/Es07_Convertitore/build/
/JS/correzione_verifiche/230304_Sirico_Davide/Main/nbproject/private/
/JS/correzione_verifiche/230304_Sirico_Davide/Main/build/
/Java/NetBeans/files/nbproject/private/
/Java/NetBeans/files/build/
/Java/NetBeans/Es08_dado/nbproject/private/
/Java/NetBeans/Es09_somma2/nbproject/private/
/Java/NetBeans/Es08_dado/build/
/Java/NetBeans/Es09_somma2/build/
/Java/profiler/nbproject/private/
/Java/profiler/build/
/TDP/Java/Swing/Netbeans/Calcolatrice/nbproject/private/
/TDP/Java/Swing/Netbeans/Calcolatrice/build/
/TDP/Java/Swing/Netbeans/Calc2/nbproject/private/
/TDP/Java/Swing/Netbeans/Calc2/build/
/TDP/Java/Swing/Netbeans/Calc2/dist/
