#campo{
    margin: auto;
    width: 50%;
}

td{
    color: black;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

#alert{
    text-align: center;
    font-size: 40px;
}